{
  "commented_topics": [
    {
      "topic_id": "XXX",
      "commented_at": "XXX"
    },
    {
      "topic_id": "XXX",
      "commented_at": "XXX"
    },
    {
      "topic_id": "XXX",
      "commented_at": "XXX"
    }
  ]
}
